{% extends 'base.html.twig' %}

{% block title %}New Group{% endblock %}

{% block body %}
    <h1>Create Group</h1>

    {{ include('group/_form.html.twig') }}

    <a href="{{ path('group_index') }}" class="btn btn-dark mt-2"> < back to list</a>
{% endblock %}
