{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    <div>
        <a href="{{ path('user_index') }}" class="btn btn-dark mt-2">< Back to list</a>
        <a href="#" class="btn btn-danger delete_link mt-2">Delete</a>
        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
